.red{
    color:red;	
}
.derecha{
    margin: 0 auto;
    margin-left:45%;
    margin-top: 20%;
}
.izquierda{


}
.body{
    width: 100%; 
   height: 100%;
    background-image:url("imagenes/uno.jpg");
    
}